<div class="col">
<div class="row">
    <h1>Daily Challenges<h1>
</div>

<ul class="lead">
    <li>Share your secret recipe (Food Challenge)</li>
    <li>Show a secret skills/talents that you think others can’t do </li>
    <li>Post the best picture of your day.</li>
    <li>Share a video of you with your family member singing a song. </li>
    <li>Remake your old picture.</li>
    <li>Show your gardening skill.</li>
    <li>Learn a new skill, post it and challenge other to do.</li>
    <li>Learn a new language.</li>
    <li>Hand-Shadow art challenge</li>
</ul>
</div>